Flask==2.0.3
Flask-SQLAlchemy
Flask-Login
Werkzeug==2.0.3
transformers
requests[socks]>=2.31.0
Flask-WTF
fpdf
stem
openai
qiskit==0.24.0
pymysql
matplotlib
flask-cors
click==7.1.2
certifi
chardet
charset_normalizer
